@font-face {
  font-family: "Markus Gemeinder Handschrift", "Istok Web", Arial, Helvetica,
    sans-serif;
  src: url(./fonts/MarkusGemeinderHandschrift-Regular.ttf);
}

:root {
  --primary: #e63312;
  /* --primary-light: #ef8775; */
  --secondary: #f26522;
  --secondary-light: #f5b598;
  /* --tertiary: #525e66; */
  /* --tertiary-light: #aeb1b4; */
  --white: #ffffff;
  --black: #32393d;
  --ff-primary: "Markus Gemeinder Handschrift", "Istok Web", Arial, Helvetica,
    sans-serif;
  --ff-secondary: "Markus Gemeinder Handschrift", "Istok Web", Arial, Helvetica,
    sans-serif;
  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--black);
}

main {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--black);
}

button {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--black);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
